.off-screen-menu {
    background-color: #01A7C2;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    left: -450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: left .3s ease;
    color: white;
    
}
.off-screen-menu.active {
    left: 0;
}

nav {
    padding: 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#01A7C2;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
}
.BS{
    background: linear-gradient(to bottom, #01A7C2, #ffffff);
    color: white;
    text-align: center;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
    padding: 30px;
}
.HomeB{
    height: 50px;
    width: 50px;
    right:4rem;
    color: white;
    position: absolute;
}
.B{
    background-repeat: no-repeat;
    background-size: 2rem;
    background-color: white;
    padding: 1rem;
    border-style:hidden;
    border-radius: 1rem;
}
.C{

    text-align: center;
    background-color: #1e1e1ed8;
    color: white;
    padding: 1.2rem;
    margin-top: 100%;
}
.ham-menu{
    height: 50px;
    width: 50px;
    left: 4rem  ;
    position: absolute;
}
.ham-menu span{
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3){
    top: 75%;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.mBarPro{
    color: white;
    margin: 30px;
    font-size: 2rem;
}

.mBarHj{
    color: white;
    margin: 30px;
    font-size: 2rem;
}

.mBarOm{
    color: white;
    margin: 30px;
    font-size: 2rem;    
}
.mBarBS{
    color: white;
    margin: 30px;
    font-size: 2rem;

}